<h1 class="project-name">Добро пожаловать в проект {{title}}!</h1>


<div class="mb-3">
  <label class="form-label">Example</label>
  <input [type]="showPassword ? 'text' : 'password'"
         class="form-control"
         [class.border-danger]="!password || checkInputValidate()"
         [class.mb-3]="password"
         [(ngModel)]="password"
         placeholder="*****">

  <span class="text-info mb-2"> {{ password  }} </span>

  <img [src]=" showPassword ? 'assets/open-ayes.img' : 'assets/close-ayes.img' " alt="test">

  <button class="btn btn-secondary" (click)="reset()">Reset</button>
  <button class="btn btn-success" (click)="showPasswordClick()">{{ showPassword ? 'Скрыть' : 'Показать' }}</button>
</div>

<img src="assets/images/health.png" alt="img">

<p *ngIf="condition">
  Привет мир
</p>
<p *ngIf="!condition">
  Пока мир
</p>

<button class="btn btn-dark" (click)="toggle()">Toggle</button>
